@import 'reset';
@import 'ember-paper';
@import 'index';
@import 'flex';
@import 'courses';
@import 'colors';
@import 'course-option';
@import 'course-icon';
@import 'sending';

html {
	font-size: 8px;
}

a {
	text-decoration: none;
	color: inherit;
}

@font-face {
    font-family: 'digitalb';
    src: url('/fonts/AGENCYB.TTF');
}

@font-face {
    font-family: 'digitalr';
    src: url('/fonts/AGENCYR.TTF');
}

.font__digital--bold {
	font-family: 'digitalb';
}

.font__digital {
	font-family: 'digitalr';
}

.application_header {
    background-color: #1E3945;
    height: 8rem;
    width: 100vw;
	z-index: 1;
	position: relative;
}

.application_header_title_container {
    height: 8rem;
    margin-left: 1rem;

    .application_header_logo {
        height: 60%;
    }

    .application_header_title {
		color: white;
        font-size: 2.5rem;
        margin-left: 1rem;
    }
}

.application_header_text {
	color: white;
    font-size: 2rem;
    padding: 2rem;
}
