.course-option {
	padding: 4rem;
	width: 25vw;

	&:hover {
		box-sizing: content-box;
		border: 2px solid #415f6c;
		transition: 0.5s;
	}
}

.course-option__info {
	margin-left: 2rem;
	width: 18vw;
	h1 {
		color: #415f6c;
		font-weight: 700;
		font-size: 3rem;
		margin-bottom: 2rem;
		white-space: nowrap;
	}

	p {
		color: #717452;
		font-size: 2.25rem;
	}
}

.course__complete {
	background-color: green;
	color: white !important;
}

.course__pending {
	background-color: yellow;
	color: white;
}

.icon__supplement {
	margin-right: 0.5rem;
}
