.landing_container {
    background: #3A4950;
    height: calc(100vh - 8rem);
}

.landing_header_text {
    color: #ffffff;
    font-size: 6rem;
}

.landing_sign_in_container {
    background-color: #B5B1B2;
    width: 30%;
    text-align: center;
}

.landing_sign_in_divider {
    width: 100%;
    background-color: #969698;
    height: 0.5rem;
}

.landing_sign_in_text {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.landing_sign_in_input_container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.landing_sign_in_input_label {
    margin-left: 2rem;
    color: #000000;
    text-align: center;
}

.landing_sign_in_input_field {
    margin-left: 2rem;
    color: #ffffff;
    text-align: center;
}

.landing_sign_in_button {
    color: #ffffff;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1E3945;
}

.landing_create_account_text {
    padding: 1rem;
}
