.landing_container {
    background: #3A4950;
    height: calc(100vh - 8rem);
}

.landing_header_text {
    color: #ffffff;
    font-size: 6rem;
    z-index: 1;
    position: relative;
}

.landing_sign_in_button {
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1E3945;
    font-size: 2rem;
    padding: 4rem;
    margin-top: 2rem;
    z-index: 1;
    position: relative;
}

.particles_container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.sign_in_icon {
    height: 60vh;
    margin-top: 5rem;
    z-index: 1;
    position: relative;
}
