.notification__icon {
	font-size: 3rem;
}

.notification__message {
	color: white;
	font-size: 1.75rem;
	margin-left: 3rem;
	width: 36rem;
}

.error {
	color: red;
}

.success {
	color: green;
}

.warning {
	color: yellow;
}
