.sending__container {
	height: calc(100vh - 8rem);
}

.sending__dialog {
	background-color: #1e3945 !important;
}

.dialog__image {
	height: 18rem;
	width: 18rem;
}

.dialog__icon {
	color: white;
	font-size: 10rem;
}

.dialog__text {
	color: white;
	margin-top: 2rem;
	text-align: center;
}

.dialog__title {
	font-size: 5rem;
}

.dialog__tips {
	font-size: 3rem;
	margin-top: 2rem;
}

.dialog__button {
	color: white;
}

.image__caption {
	color: white;
	font-size: 2.5rem;
	margin-top: 2rem;
	text-align: center;
}

.dialog__border-image {
	border: 2px solid white;
	border-radius: 10rem;
	color: white;
	font-size: 2rem;
	height: 20rem;
	width: 20rem;
}

.dialog__images {
	margin-top: 3rem;
}

.qrcode {
	font-size: 12rem;
}

.wrappedpar {
	text-align: center;
	padding: 1rem;
}

.sending__main {
	height: 100%;
}

.sending__interactive {
	background-color: red;
	width: 65%;
}

.sending__steps {
	background-color: green;
	width: 35%;
}

.sending_steps_container {
	width: 80%;
	height: 80%;
	background-color: #1e3945;
	border-radius: 2rem;
}

.sending_steps_header {

}

.sending_steps_title_container {
	margin-top: 2rem;
	margin-left: 6rem;
}

.sending_steps_title {
	color: #ffffff;
	font-size: 5rem;
}

.sending_steps_divider {
	margin-top: 1rem;
	width: 20rem;
	height: 0.25rem;
	background-color: #366471;
}

.sending_steps_cell {
	margin-top: 2rem;
	height: 20rem;
	background-color: #1E3945;
}

.sending_steps_cell_image_block {
	width: 20%;
	background-color: #1E3945;
}

.sending_steps_cell_image_container {
	width: 8rem;
	height: 8rem;
	border-color: #ffffff;
	border-width: 0.25rem;
	border-style: solid;
	border-radius: 4rem;
	color: #ffffff;
	font-size: 4rem;
}

.sending_steps_cell_description {
	color: #AAAAAA;
	font-size: 2rem;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.sending_steps_cell_text_container {
	background-color: #ffffff;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	border-radius: 1rem;
}

.sending_steps_cell_text_header {
	color: #000000;
	margin-top: 1rem;
	margin-left: 1rem;
	font-size: 2.5rem;
}

.sending_steps_cell_complete_block {
	color: #ffffff;
	font-size: 4rem;
}
