.sending__container {
	min-height: calc(100vh - 8rem);
}

.sending__container--expanded {
	height: 120vh;
}

.sending__dialog {
	background-color: #1e3945 !important;
}

.coinbase__account {
	background-color: #f6f6f6;
	border-color: #A7A7A7;
	border-width: 0.25rem;
	border-style: solid;
	padding: 1rem;
}

.current__amount {
}

h6 {
	font-size: 3rem;
	margin-top: 1rem;
}

.coinbase__logo {
	color: #3085BE;
	font-size: 3rem;
}

.coinbase__user {
	font-size: 2rem;
}

.current__amount {
	font-size: 2rem;
}

.after__amount {
	font-size: 2rem;
}

.dialog__image {
	height: 18rem;
	width: 18rem;
}

.dialog__icon {
	color: white;
	font-size: 10rem;
}

.dialog__text {
	color: white;
	margin-top: 2rem;
	text-align: center;
}

.dialog__title {
	font-size: 5rem;
}

.dialog__tips {
	font-size: 3rem;
	margin-top: 2rem;
}

.dialog__button {
	color: white;
}

.image__caption {
	color: white;
	font-size: 2.5rem;
	margin-top: 2rem;
	text-align: center;
}

.image__caption--off {
	color: #1e3945;
}

.interactive__input {
	background-color: #ffffff;
	border-radius: 1rem;
}

.input__select {
	margin: 0rem;
	font-size: 3rem;
	height: 3rem;
	margin-left: 2rem;
	padding-bottom: 3rem;
}

.input__select__lower {
	margin: 0rem;
	font-size: 3rem;
	height: 3rem;
	margin-left: 2rem;
	padding-bottom: 1rem;
}


.dialog__border-image {
	border: 2px solid white;
	border-radius: 10rem;
	color: white;
	font-size: 3rem;
	height: 20rem;
	width: 20rem;
}

.dialog__images {
	margin-top: 3rem;
	margin: 3rem 8rem 0 8rem;
}

.qrcode {
	font-size: 12rem;
}

.wrappedpar {
	text-align: center;
	padding: 1rem;
}

.md-select-value {
	border-bottom-width: 0rem;
}

.ember-power-select-selected-item {
	font-size: 2rem;
}

.sending__main {
}

.sending__interactive {
	background-color: white;
	padding: 4rem;
	width: 65%;
}

.sending__steps {
	width: 35%;
}

.interactive-image {
	border: 4px solid #1e3945;
	border-radius: 13rem;
	color: #1e3945;
	cursor: pointer;
	font-size: 3.5rem;
	height: 26rem;
	margin: 0 4rem;
	width: 26rem;

	&:hover {
		box-shadow: 0 4px 16px black;
		transition: 0.2s;
	}
}

.qrcode--big {
	font-size: 15rem;
}

.interactive__title {
	color: #1e3945;
	font-size: 5rem;
	margin-bottom: 4rem;
}

.interactive__bubble {
	background-color: #1e3945;
	border-radius: 1rem;
	color: white;
	font-size: 4rem;
	margin: 3rem 12rem;
	padding: 2rem;
	text-align: center;
}

.sending__header {
	font-size: 2rem;
	padding: 2rem;
}

.crumb {

}

.crumb__icon {
	margin: 0 2rem;
}

.input__help {
	background-color: #1e3945;
	border-radius: 1rem;
	color: white;
	font-size: 2.5rem;
	margin-bottom: 2rem;
	padding: 1.5rem 4rem;
	width: 24rem;
}

.input__section + .input__section {
	margin-top: 8rem;
}


.sending__notifications {
	background-color: #7c7c7c;
	border-radius: 2rem;
	margin-top: 3rem;
	padding: 2rem;
	width: 40rem;
}

.sending__notification + .sending__notification {
	margin-top: 3rem;
}

.interactive__input {
	label {
		font-size: 2rem;
	}

	input {
		font-size: 3rem;
		margin-left: 2rem;
	}
}

.sending_steps_container {
	width: 80%;
	height: 80%;
	background-color: #1e3945;
	border-radius: 2rem;
}

.sending_steps_header {

}

.sending_steps_title_container {
	margin-top: 2rem;
	margin-left: 6rem;
}

.sending_steps_title {
	color: #ffffff;
	font-size: 5rem;
}

.sending_steps_divider {
	margin-top: 1rem;
	width: 20rem;
	height: 0.25rem;
	background-color: #366471;
}

.sending_steps_cell {
	margin-top: 2rem;
	height: 20rem;
	background-color: #1E3945;
}

.sending_steps_cell_image_block {
	width: 20%;
	background-color: #1E3945;
}

.sending_steps_cell_image_container {
	width: 8rem;
	height: 8rem;
	border-color: #ffffff;
	border-width: 0.25rem;
	border-style: solid;
	border-radius: 4rem;
	color: #ffffff;
	font-size: 4rem;
}

.sending_steps_cell_description {
	color: #AAAAAA;
	font-size: 2rem;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.sending_steps_cell_text_container {
	background-color: #ffffff;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	border-radius: 1rem;
}

.sending_steps_cell_text_header {
	color: #000000;
	margin-top: 1rem;
	margin-left: 1rem;
	font-size: 2.5rem;
}

.sending_steps_cell_complete_block {
	color: #ffffff;
	font-size: 4rem;
}

.final__button {
	color: white;
	border: none;
	border-radius: 2rem;
	font-size: 4rem;
	outline: none;
	padding: 2rem 4rem;
	margin: 0 2rem;
}

.approve {
	background-color: green;
}

.quit {
	background-color: gray;
}

.dialog__loader {
	font-size: 10rem;
	margin-top: 2rem;
}

.sending__inputs {
	margin: 4rem 0;
}
