<div class='course__container column'>
	<div class='row justify-end align-center'>
		<div class='row align-center user-info'>
			<div class='row align-center coinbase-text font__digital'>Powered by <img src='/assets/coinbase_logo.png' class='coinbase-logo' /></div>
			<span class='name-bubble font__digital'>Victor Smith</span>
			<div class='row align-end'>
				<span class='bitcoin-value font__digital--bold'>BTC 0.0625</span>
				<span class='usd-value font__digital'>$500.00 (USD)</span>
				<span class='value-change font__digital'>{{fa-icon 'long-arrow-up' class='icon__supplement'}}$30.12</span>
			</div>
		</div>
	</div>

	<div class='courses__list column'>
		<h1>Services</h1>

		<div class='row courses__options justify-around'>
			{{#each courses1 as |course|}}
				{{#link-to 'courses.sending'}}
					{{course-option course=course}}
				{{/link-to}}
			{{/each}}
		</div>

		<div class='row courses__options justify-around'>
			{{#each courses2 as |course|}}
				{{#link-to 'courses.sending'}}
					{{course-option course=course}}
				{{/link-to}}
			{{/each}}
		</div>
	</div>
	{{outlet}}
</div>
