<div class="application_header row align-center justify-between">


    <div class="application_header_title_container row align-center">

        <img class="application_header_logo" src="/assets/logo_colored.png"/>

        <div class="application_header_title">
            My Bitcoin Academy
        </div>
    </div>

    <div class= "row align-center">

        <div class="application_header_text">
            Home
        </div>

        <div class="application_header_text">
            About
        </div>

        <div class="application_header_text">
            Services
        </div>

        <div class="application_header_text">
            Team
        </div>

        <div class="application_header_text">
            Blog
        </div>

        <div class="application_header_text">
            Contact
        </div>

    </div>

</div>

{{outlet}}
