<div class="landing_container column align-center justify-center">

    <div class="landing_header_text">
        Welcome to Bitcoin Academy!
    </div>

    {{#link-to "courses"}}
    <img class="sign_in_icon" src="/assets/sign_in_icon.png"/>
    {{/link-to}}
    {{ember-particles
        class="particles_container"
        options = (
            ember-particles-options
            'particles.color.value' '#0000cc'
            'particles.size.value' 2
            'particles.number.density.enable' true
            'particles.line_linked.width' 1
            'particles.line_linked.color' 'aaaaaa'
        )
    }}

</div>
{{outlet}}
